%li.chat-lists
  .chat-list
    %p.chat-name
      = message.user.name
    %p.chat-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  - if message.content.present?
    %p.chat-message
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?